* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s, color 0.3s;
}

/* LIGHT MODE */
body.light {
  background: linear-gradient(135deg, #6366f1, #4f46e5);
  color: #000;
}

/* DARK MODE */
body.dark {
  background: #0f172a;
  color: #f8fafc;
}

.app {
  background: white;
  padding: 28px;
  border-radius: 16px;
  width: 100%;
  max-width: 380px;
  transition: background 0.3s;
}

body.dark .app {
  background: #1e293b;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#themeToggle {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* INPUT WAKTU VERTIKAL */
.time-input {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 20px;
}

.time-box label {
  font-size: 12px;
  margin-bottom: 4px;
}

.time-box input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

body.dark .time-box input {
  background: #334155;
  color: white;
  border: none;
}

/* PROGRESS */
.progress-container {
  margin-top: 20px;
  height: 12px;
  background: #e5e7eb;
  border-radius: 6px;
  overflow: hidden;
}

body.dark .progress-container {
  background: #475569;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: #22c55e;
  transition: width 1s linear;
}

/* BUTTON */
#startBtn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: #22c55e;
  font-weight: bold;
  cursor: pointer;
}

#startBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.status {
  margin-top: 18px;
  font-weight: bold;
}
